.main p {
    color: #fff;
}

.main {
    width: 100%;
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
}

:global(span) {
    color: var(--primary-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

:global(h2) {
    color: var(--text-primary-color);
    font-size: 32px;
    margin: 0;
    font-weight: 600;
}

:global(p){
    color: var(--text-secondary-color) !important;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 16px 0;
}