:root {
  --background-primary-color: #080B10;
  --background-secondary-color: #0D121A;
  --background-terciary-color: #151B24;
  --background-card-color: #111720;

  --primary-color: #6C4DFF;
  --primary-hover-color: #7D63FF;
  --primary-light-color: #A78BFA;

  --font-family: "Inter", sans-serif;
}

/* Zera margens, preenchimentos e define o modelo de caixa */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font-family);
}

/* Remove estilos de lista */
ul, ol {
  list-style: none;
}

/* Facilita o uso de imagens */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Herança de fontes para inputs e botões */
input, button, textarea, select {
  font: inherit;
}

/* Altura total da página */
html, body {
  height: 100%;
  background-color: var(--background-primary-color);
}
